*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100vw;
    height: 91vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        width: 80vw;
        text-align: center;

    }
}
.textInputBox{
    margin-top: 30px;
    width: 90vw;
    height: 45vh;
    border: 4px solid black;
    font-size: 1.5rem;
}
.finalBtn{
    width: 20vw;
    height: 7vh;
    border-radius: 40px;
    font-size: 1.5rem;
    border: 3px solid black;
    background-color: #f0d83d;
    position: absolute;
    top: 80%;

}
.multipleLanguages{
    width: 30vw;

    height: 5vh;
    border-radius: 30px;
    background-color: #f0d83d;
    border: 3px solid black;
    margin-top: 20px;
} 